body {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/13/13/51/marble-2398946_960_720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

h1 {
	text-align: center;
	margin-top: rem;
	color: #081C15;
	font-family: 'Libre Baskerville', serif;
}


.coolBeans {
  min-height: 40px;
  min-width: 140px;
  border: 3px solid currentColor;
  border-radius: 1rem;
  color: #006400;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  overflow: hidden;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  background-color: #A9A9A9;
  border-radius: 1rem;
  display: block;
  position: absolute;
  transform: translate(-100%, 0) rotate(10deg);
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  border: 2px solid transparent;
  color: #006400;
  transform: scale(1.20);
  will-change: transform;
}

label {
  color: #081C15;
  font-weight: bold;
  font-size: 19px;
  width: 90px;
  float: left;
  font-family: 'Libre Baskerville', serif;

}

input {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
  width: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35vh;
  margin-top: 3rem;
}

 .result-box {
            margin-top: 2rem;
            padding: 0.2rem;
            border: 2px solid #081C15;
            background-color: #e8f4f8;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
            font-family: 'Libre Baskerville', serif;
            font-size: 19px;
            font-weight: bold;
            color: #081C15;
            text-align: center;
        }

        .result-box::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #e8f4f8;
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }

        .highlight {
            font-size: 20px;
            color: #1b4332;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
