<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shekel Worth</title>
    <link rel="stylesheet" href="{% static 'my_css.css' %}">
</head>
<body>
<h1>Shekel Worth</h1>
<p style="text-align:center; font-family:'Brush Script MT'; color:#2F4F4F;font-weight:bold;margin-top: 2rem;">Select the currencies and perform the conversion!</p>
<div class="container">
    {% block sidebar %}
        <form method="POST">
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit" class="coolBeans" style="font-weight:bold;">Submit</button>
        </form>
        {% if conversion_result %}
            <p style="text-align:center; font-family:'Arial'; color:#2F4F4F;;font-weight:bold;margin-top: 2rem;">
                {{ conversion_result }}
            </p>
        {% endif %}
    {% endblock %}
</div>
</body>
</html>
